.carousel {
    // position: absolute;
    top: 0;

    &__slide {
        &__image {
            width: 100%;
            background-position: top;
            position: relative;
        }

    }

    &__controller {
        position: absolute;
        bottom: 3px;
        right: 0;
        background-color: #000;
        height: 6rem;
        width: 12rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn {
        // width: 50%;
    }

    .btn-right {

    }

    &__slide-text-container {
        // background-color: darkcyan;
        padding: 5rem 3rem;
        font-size: 1.3rem;
        
        & p {
            color: #bcbcbc;
            color: #b2b2b2;
            color: #a1a1a1;
            line-height: 2.4rem;
        }
    }
}