// :root {
//   --color-primary-1: hsl(0, 0%, 63%);
//   --color-primary-2: hsl(0, 0%, 27%);
// }

$color-primary-1:  hsl(0, 0%, 63%);
$color-primary-2:  hsl(0, 0%, 27%);

$font-1: 'Spartan', sans-serif;

* {
    margin: 0;
    padding: 0;
    }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    font-family: 'Spartan', sans-serif;
  }